
  
/*extra small*/

@media screen and (max-width: 367px) {
	
.portfolio-box {
	width: inherit;
}


#skills h2 {
	font-size: 24px;
}

#skills h3 {
	font-size: 18px;
}

}

/*small*/

@media screen and (min-width: 368px) and (max-width: 800px) {

.portfolio-box {
	width: inherit;
}

#skills h2 {
	font-size: 24px;
}

#skills h3 {
	font-size: 18px;
}
	
}
	
	 
	


/*medium*/
@media screen and (min-width: 801px) and (max-width: 1199px) {



.parallax2 {
    height: 170%;
}

} 




/*large*/

@media screen and (min-width: 1200px) {




.parallax2 {
    height: 100%;
}

.service-box {
	margin-top: 16%;
}

}






